
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* share style */
.max-width-auto{
  width: 81%;
  max-width: 1300px;
  margin: 0 auto;
}
.btn{
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient( 25deg, #F7E93F, #FB09B4, #9100F8);
  color: #ffffff;
  padding: 12.5px 16px 12.5px 16px;
  border: none;
  border-radius: 10000px;
}



/* Nav-bar style */
.nav-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A0B2E;
  padding: 24px 100px;
}
.nav-logo{
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
.nav-logo span{
  background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-menu{
  display: flex;
  gap: 32px;
}
.nav-menu li{
  list-style: none;
}
.nav-menu>li>a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff90;
}




/* Banner/Hero style */
.banner{
  width: 100%;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* overflow: hidden; */
}
.banner-image{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.circle-png{
  max-width: 350px;
  width: 100%;
}
.microphone-png{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90px;
  width: 100%;
  
}
.new-badge{
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1A0B2E;
  padding: 8px 16px;
  background-color: #00FF88;
  border: none;
  border-radius: 100px;
  box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
  top: 2px;
  left: 60%;
}
.banner-content{
  max-width: 550px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
.banner-content h2{
  font-size: 3.8rem;
  font-weight: bolder;
  color: #ffffff;
}
.banner-content p{
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff80;
  margin-top: 8px;
  margin-bottom: 24px;
}
.banner-button{
  display: flex;
  justify-content: center;
  gap: 8px;
}
.banner-btn{
  font-size: 1rem;
  font-weight: 600;
  color: #00FF88;
  background: transparent;
  padding: 12.5px 16px 12.5px 16px;
  border: 1px solid #00FF88;
  border-radius: 10000px;
}




/* About section */
.about{
  background-color: #1A0B2E;
}
.about-container{
  padding-top: 50px;
  padding-bottom: 120px;
}
.about-content{
  text-align: center;
}
.about-content>h2{
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 16px;
}
.about-content>p{
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff80;
}
.about-line{
  border: none;
  height: 1px;
  background: #ffffff10;
  margin-top: 80px;
  margin-bottom: 80px;
}
.about-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-info-container{
  text-align: center;
}
.about-info-container>h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bolder;
}
.about-info-container>p{
  color: #ffffff80;
  font-size: 1rem;
  font-weight: 400;
}




/* Why Choose TechWave */
#techwave{
  background: rgba(35, 14, 61, 1);
  padding: 120px 0;
}
.techwave-container>h2{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.techwave-box{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.techwave-card{
  border: none;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.techwave-card-logo{
  max-width: 60px;
  width: 100%;
}
.techwave-card-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}
.techwave-card-description{
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff60;
}
.card-1{
  grid-column: span 1;
  grid-row: span 2;
}
.card-2{
  grid-column: span 2;
  grid-row: span 1;
}
.card-3{
  grid-column: span 2;
  grid-row: span 1;
}
.card-4{
  grid-column: span 2;
  grid-row: span 1;
}
.card-5{
  grid-column: span 1;
  grid-row: span 1;
}