
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* share style */
.max-width-auto{
  width: 81%;
  max-width: 1300px;
  margin: 0 auto;
}
.btn{
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient( 25deg, #F7E93F, #FB09B4, #9100F8);
  color: #ffffff;
  padding: 12.5px 16px 12.5px 16px;
  border: none;
  border-radius: 10000px;
}



/* Nav-bar style */
.nav-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A0B2E;
  padding: 24px 100px;
}
.nav-logo{
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
.nav-logo span{
  background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-menu{
  display: flex;
  gap: 32px;
}
.nav-menu li{
  list-style: none;
}
.nav-menu>li>a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff90;
}

/* Mobile device */
.nav-icon{
  display: none;
}



/* Banner/Hero style */
.banner{
  width: 100%;
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /* overflow: hidden; */
}
.banner-image{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.circle-png{
  max-width: 350px;
  width: 100%;
  margin-top: 100px;
}
.microphone-png{
 position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90px;
  width: 100%;
  
}
.new-badge{
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  color: #1A0B2E;
  padding: 8px 16px;
  background-color: #00FF88;
  border: none;
  border-radius: 100px;
  box-shadow: 0 3px 27px 0 rgba(0, 255, 136, 0.5);
  top: 100px;
  left: 60%;
}
.banner-content{
  max-width: 550px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 80px;
}
.banner-content h2{
  font-size: 3.8rem;
  font-weight: bolder;
  color: #ffffff;
}
.banner-content p{
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff80;
  margin-top: 8px;
  margin-bottom: 24px;
}
.banner-button{
  display: flex;
  justify-content: center;
  gap: 8px;
}
.banner-btn{
  font-size: 1rem;
  font-weight: 600;
  color: #00FF88;
  background: transparent;
  padding: 12.5px 16px 12.5px 16px;
  border: 1px solid #00FF88;
  border-radius: 10000px;
}




/* About section */
.about{
  background-color: #1A0B2E;
}
.about-container{
  padding-top: 50px;
  padding-bottom: 120px;
}
.about-content{
  text-align: center;
}
.about-content>h2{
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 16px;
}
.about-content>p{
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff80;
}
.about-line{
  border: none;
  height: 1px;
  background: #ffffff10;
  margin-top: 80px;
  margin-bottom: 80px;
}
.about-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.about-info-container{
  text-align: center;
}
.about-info-container>h2{
  color: #00FF88;
  font-size: 3rem;
  font-weight: bolder;
}
.about-info-container>p{
  color: #ffffff80;
  font-size: 1rem;
  font-weight: 400;
}




/* Why Choose TechWave */
#techwave{
  background: rgba(35, 14, 61, 1);
  padding: 120px 0;
}
.techwave-container>h2{
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.techwave-box{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.techwave-card{
  border: none;
  border-radius: 40px;
  background: rgba(53, 17, 101, 0.4);
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.techwave-card-logo{
  max-width: 60px;
  width: 100%;
}
.techwave-card-title{
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}
.techwave-card-description{
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff60;
}
.card-1{
  grid-column: span 1;
  grid-row: span 2;
}
.card-2{
  grid-column: span 2;
  grid-row: span 1;
}
.card-3{
  grid-column: span 2;
  grid-row: span 1;
}
.card-4{
  grid-column: span 2;
  grid-row: span 1;
}
.card-5{
  grid-column: span 1;
  grid-row: span 1;
}




/* Featured Episodes */
#episodes{
  background: #1A0B2E;
}
.episode-container{
  padding: 120px 0;
  text-align: center;
}
.episode-container h2{
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
}
.episode-card-container{
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  padding-bottom: 120px;
  gap: 30px;
}
.episode-card{
  background: #250D44;
  border-radius: 24px;
  max-width: 380px;
  text-align: left;
  /* padding: 24px; */
  overflow: hidden;
}
.video-item iframe{
  width: 100%;
  height: 200px;
}
.card-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  gap: 12px;

}
.card-content>h3{
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}
.card-content>p{
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff60;
}
.timer{
  font-size: 1rem;
  font-weight: 600;
  color: #00FF88;
}

/* host-profile */
.host-profile{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 40px;
  background: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
}
.host-profile>img{
  max-width: 200px;
  width: 100%;
}
.host-info{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
}
.host-info>h3{
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}
.host-info>p{
  font-size: 1rem;
  font-weight: 400;
  color: #ffffff60;
}
.social-png>img{
  margin-right: 8px;
  cursor: pointer;
}



/* footer section */
#footer{
 width: 100%;
  background-image: url(../assets/footer-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-content{
  padding: 120px 0;
  text-align: center;
}
.footer-content h2{
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
}
.footer-content h2>span{
  background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.footer-content ul{
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 35px auto;
  list-style: none;
}
.footer-content ul>li>a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
}
.footer-content ul>li>a>span{
  color: #ffffff60;
}
.footer-content p{
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff60;
}


#display-none{
  display: none;
}


@media screen and (max-width: 576px) {
  /* nav-bar */
  .nav-menu,
  .nav-btn
  {
    display: none;
  }

  .nav-bar {
    
    padding: 15px 20px;
}

.nav-logo {
    font-size: 1.5rem;
    
}

.nav-icon{
  display: block;
  width: 24px;
  color: #ffffff;
}


/* banner/hero */

.banner {
    max-width: 600px;
    
}


.circle-png {
    max-width: 200px;
    width: 100%;
    margin-top: 100px;
}

.microphone-png {
    
    top: 65%;
    
    max-width: 80px;
}

.new-badge {
   
    font-size: 1rem;
   
}

.banner-content {
    padding: 0 15px;
}

.banner-content h2 {
    font-size: 2rem;
}

/* about section */

.about-container {
    padding-left: 15px;
    padding-right: 15px;
}

.max-width-auto {
    width: 100%;
}

.about-content>h2 {
    font-size: 2rem;
}

.about-line {
    
    margin-top: 60px;
    margin-bottom: 60px;
}

.about-info-container>h2 {
    font-size: 2rem;
}

.about-info-container>p {
  padding-bottom: 20px;
}

.about-container {
    padding-bottom: 40px;
    padding-top: 40px;
}

/* Why Choose TechWave */

#techwave {
    padding: 40px 0;
}

.techwave-container{
  padding: 0 15px;
}

.techwave-container>h2 {
    font-size: 1.6rem;
}

.techwave-box {
    grid-template-columns: repeat(1, 1fr);
}

.techwave-card {
    padding: 24px;
    border-radius: 24px;
}

.techwave-card-title {
    font-size: 1.3rem;
}


.card-1 {
    grid-column: span 2;
}
.card-5 {
    grid-column: span 2;
}


/* episode section */
.episode-container {
    padding: 40px 15px;
}

.episode-container h2 {
    font-size: 2rem;
}

.episode-card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.card-content>h3 {
    font-size: 1.3rem;
}

.host-profile {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 16px;
    padding: 24px;
    border-radius: 24px;
}

.host-profile>img {
    max-width: 150px;
}

.host-info {
    text-align: center;
}

.host-info>h3 {
    font-size: 1.5rem;
}



/* footer */
#footer {
  max-width: 600px;
}

.footer-content {
    padding: 50px 15px;
}

.footer-content h2 {
    font-size: 2rem;
}

.footer-content ul {
    gap: 16px;
    flex-wrap: wrap;
}



}